.container{
    display: flex;
    /* Valores possiveis principais (row|row-reverse|column|column-reverse) */
    flex-direction: row-reverse;
    justify-content: space-evenly;
    /* Valores possiveis principais (center|stretch|flex-start|flex-end|baseline) */
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.container2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    /* flex wrap; */
    align-items: center;

    /* stretch*/
    /*flex-start*/
    /*flex-end*/
    /*baseline*/
}
